styles.css css * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-image: url(/jpg/index_background.jpg);
  background-size: contain;
}
.header {
  background-color: #333333;
  padding: 10px 20px;
  width: 80%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav-links li {
  margin-left: 20px;
}
.nav-links a {
  color: #ffffff;
  text-decoration: none;
}
.nav-links a:hover {
  color: #6e6e6e;
  text-decoration: underline;
  text-decoration-color: rgba(143, 58, 15, 0.748);
  text-decoration-thickness: 3px;
}
.main {
  padding: 50px 20px;
  /* background-image: url(/jpg/index_background.jpg); */
  background-color: rgba(0, 0, 0, 0.655);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  height: auto;
  width: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-size: 18px;
  color: #ffffff;
}
.footer {
  background-color: #333333;
  padding: 20px 0;
  text-align: center;
  color: #ffffff;
  width: 100%;
}
/* 
.chat-widget {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 300px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.chat-header {
  background-color: #415161;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.chat-content {
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bot-message {
  background-color: #f0f0f0;
  color: #333333;
  padding: 8px;
  border-radius: 4px;
  max-width: 80%;
  display: inline-block;
}

.chat-input {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.chat-input input {
  width: 90%;
  padding: 0 10px;
  margin-right: 10px;
  border: 1px solid #415161;
  border-radius: 20px;
  height: auto;
  font-size: 14px;

  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.chat-input input:focus {
  height: 50px;
  width: 90%;
}
.chat-input button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  margin-top: 8px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.chat-input button:hover {
  background-color: #0069d9;
}
 */
.contact-info,
.contact-form {
  padding: 20px;
  margin-bottom: 20px;
}

.contact-info h1,
.contact-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.contact-form button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.contact-form button:hover {
  background-color: #0069d9;
}

.about-us {
  padding: 20px;
  margin-bottom: 20px;
}

.about-us h1 {
  margin-bottom: 20px;
}

.about-us p {
  margin-bottom: 15px;
}
.map {
  width: 200px;
  height: 200px;
  background-color: #d0d0d0;
}
